# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Cursor
.cursor/

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# other
.vscode/
pnpm-lock.yaml
eslint.config.mjs
